    body{
      background:#ff9900 url("../elements/bgnds/body_light.png");
    }

    a{
      color:white;
      text-decoration:none;
      font-style:italic;
    }
    a:hover{
      color:black;
      text-decoration:underline;
      font-style:italic;
    }

    .wrapper{
      font-family:Arial, Helvetica, sans-serif;
      margin-top:100px;
      margin-left:50px;
    }

    .wrapper h1{
      font-family:Arial, Helvetica, sans-serif;
      font-size:26px;
    }

    .evidence{
      color:gray;
      padding:10px;
      margin-right:5px;
      margin-top:5px;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
    }

    #actions button{
      padding:4px;
      display:inline-block;
      cursor:pointer;
      font:12px/14px Arial, Helvetica, sans-serif;
      color:#666;
      border:1px solid #999;
      background-color:#eee;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      -moz-box-shadow:#999 2px 0px 3px;
      -webkit-box-shadow:#999 2px 0px 3px;
      margin-bottom:4px;
    }

    :focus {
      outline: 0;
    }

    #actions button:hover{
      color:#aaa;
      background-color:#000;
    }

    #clickHere{
      position:absolute;
      bottom:160px;
      left:250px;
    }

    #dock{
      left:0;
      position:absolute;
      bottom:0;
      display:block;
      width:100%;
      height:100px;
      background: #333333 url("../elements/bgnds/screenBgnd.gif");
      padding-left:200px;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
    }

    #dock span{
      margin-top:-30px;
    }

    #dock img{
      padding-right:10px;
    }
    #open{position:absolute; bottom:40px;left:100px;}

